<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoneShopManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoneShopManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PhoneShopManagement.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=LAPTOP-FU5UG1UP;Initial Catalog=QL_PhoneShop;Integrated Security=True</value>
            </setting>
            <setting name="connectionString_Remote" serializeAs="String">
                <value>workstation id=QL_PhoneShop.mssql.somee.com;packet size=4096;user id=TuyenBach_MSSQL;pwd=TuyenBach_MSSQL2022;data source=QL_PhoneShop.mssql.somee.com;persist security info=False;initial catalog=QL_PhoneShop</value>
            </setting>
        </PhoneShopManagement.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PhoneShopManagement.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </PhoneShopManagement.Properties.Settings>
    </userSettings>
</configuration>